[Unit]
Description=gunicorn daemon
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/django-project-aws-sise
ExecStart=/home/ubuntu/django-project-aws-sise/venv/bin/gunicorn --access-logfile - --workers 3 --bind unix:/home/ubuntu/django-project-aws-sise/app.sock appraisal_project.wsgi:application

[Install]
WantedBy=multi-user.target
